
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.end span {
    margin-right: 10px;
    color: #341F97;
    font-size: 18px;
    padding: 0 5px;
}

.end span a {
    text-decoration: none;
    color: #341F97;
}

.end {
    margin-right: 20px;
    padding-top: 10px;
}

.alphabet {
    width: 0px;
    height: 0px;
    padding: 3px 4px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #341F97;
}

.hamburger2 {
    display: nne;
    font-size: 25px;
    color: #341F97;
    cursor: pointer;
}

.studentworker2 {
    font-size: 25px;
    font-weight: 400;
    color: #1F135B;
}

.navmobile {
    display: flex;
    justify-content: space-between;
}

.hidecomment {
    display: none;
    margin: 10px 20px;
    font-size: 18px;
}


/* MY STYLES */


/* .parent {
    margin: 0 auto;
    background-color: yellow;
    width: 500px;
    max-width: 500px;
    padding: 10rem; 


}
.form-container {
    width: 100%;
}
.form-container h1 {
    text-align: center;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box
}

.parent {
    margin: 0 auto;
    /* background-color: yellow; */
    width: 500px;
    max-width: 500px;
    /* padding: 20px; */
}

.row {
    display: flex;
    justify-content: space-between;
}

.parent h1 {
    text-align: center;
    margin-bottom: 30px;
    color: green;
}

.mobile {
    width: 30%;
}

.visible {
    visibility: hidden;
}

.mobile-1 {
    width: 20%;
}

.number {
    width: 75%;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 97%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for all buttons */

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    /* float: left;
            width: 50%; */
    width: 100px;
    position: relative;
    left: 40%
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* Clear floats */

.clearfix::after {
    /* content: "";
            clear: both;
            display: table; */
    text-align: center;
    
}
 #btn {
                  
                
                  height: 150px;
                  /* border: 3px solid green;  */
                font-size: 1rem;
                padding: 0.5rem;
                margin-right: 5px;
                color: grey;
                text-align: center;
                
             } 


/* Change styles for cancel button and signup button on extra small screens */


@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

footer {
    padding: 2em 1.5em;
    background-color: #2A1979;
    margin-top: 3.5em;
    color: white;
}

.social,
.copyright,
.about {
    text-align: center;
}

.social a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #ffffff;
    text-decoration: none;
}

.login a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .end {
        display: none;
    }
    .hidecomment {
        display: block;
    }
}