                * {
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                }
                
                body {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                
                .nav-bar {
                    display: flex;
                    justify-content: space-between;
                    margin: 15px 20px;
                    font-size: 1.2rem;
                    color: blue;
                    border-bottom: 1px solid blue;
                    margin-bottom: 30px;
                }
                
                .nav-btn {
                    border: 1px solid blue;
                    border-radius: 4px;
                    padding: 5px 20px;
                    margin-bottom: 5px;
                }
                
                .dashboard-title {
                    text-align: center;
                    margin-bottom: 50px;
                }
                
                .dashboard-title h1 {
                    font-size: 20px;
                    font-weight: bold;
                    display: inline-block;
                    color: #0A674F;
                    border-bottom: 1px solid #00000066;
                    margin-bottom: 15px;
                }
                
                .dash-job {
                    padding-left: 20px;
                    margin-bottom: 50px;
                }
                
                .job-status {
                    padding-top: 20px;
                }
                
                .post {
                    border: 1px solid #10BD40;
                    border-radius: 4px;
                    padding: 5px 20px;
                    color: #FFFFFF;
                    background: #10BD40;
                }
                
                .btn-post {
                    text-align: center;
                    margin-bottom: 30px;
                }
                
                .btn {
                    padding: 10px 100px;
                    border: 1px solid #0A674F;
                    color: #0A674F;
                    background-color: #FFFFFF;
                    font-weight: bold;
                }
                
                .applicant h2 {
                    padding: 10px;
                }
                
                .resume-container {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                
                .resume-container ol {
                    padding-left: 15px;
                }
                
                .resume-container .fa {
                    color: green;
                    font-size: 10px;
                }
                
                .resume-container a {
                    display: inline-block;
                }
                
                .banner-content {
                    padding: 15px;
                }
                
                .banner-content p {
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                }
                
                .banner-content h2,
                .fa,
                .company-content h2 {
                    color: #0A674F;
                }
                
                .icons {
                    margin-bottom: 15px;
                }
                
                .icons .location {
                    margin-right: 15px;
                }
                
                .icons a {
                    margin-left: -3px;
                    text-decoration: none;
                    color: #000;
                    font-size: 15px;
                }
                
                .company-content {
                    padding: 15px;
                }
                
                .company-content p {
                    text-align: justify;
                    color: #000;
                }
                
                .company-content h2 {
                    margin-bottom: 10px;
                }
                
                .company-content ol {
                    padding-left: 15px;
                    margin-bottom: 15px;
                }
                
                .company-content .last {
                    margin-bottom: 20px;
                }
                
                .company-content ol li {
                    padding: 5px;
                }
                
                .btn-delete {
                    text-align: center;
                    margin-bottom: 25px;
                }
                
                .btn-delete a {
                    text-decoration: none;
                    cursor: pointer;
                    border: 2px solid #0A674F;
                    border-radius: 5px;
                    padding: 10px 40px;
                    color: #0A674F;
                    font-weight: bolder;
                }
                
                .resume-content-container {
                    padding: 15px;
                }
                
                .resume-name {
                    margin-bottom: 40px;
                }
                
                .education .light {
                    font-weight: unset;
                    text-transform: uppercase;
                }
                
                .education ol {
                    padding-left: 15px;
                    margin-bottom: 25px;
                }
                
                .education ol li {
                    padding: 2px;
                }
                
                .btn-select {
                    margin-bottom: 25px;
                }
                
                .select {
                    padding: 10px 200px;
                    background-color: #0A674F;
                    color: white;
                    border: none;
                }
                
                .btn-post a {
                    text-decoration: none;
                }
                
                .btn-post a:hover,
                a:active {
                    text-decoration: underline;
                }