@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
nav{
    padding: 2em 1em 1em;
    position: relative;
}
nav span{
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}
hr{
    border: 1px solid #CFBEF0;
    color: #CFBEF0;
}
.studentworker{
    margin-left: 2%;
    color: #1F135B;
}
.hamburger{
    position: absolute;
    left: 5px;
    bottom: 14px;
    color: #341F97;
    font-size: 20px;
    cursor: pointer;
}
.login{
    border-radius: 4px;
    position: absolute;
    right: 10px;
    padding: 5px 20px;
    text-align: center;
    background-color: white;
    color: #341F97;
    border: 1px solid #341F97;
    font-weight: bold;
}


/* job description css*/
.subcontainer{
    margin: 1em;
}
h3{
    color: #0A674F;
}
footer span{
    margin-right: 5px;
}
.smallhr{
    width: 50px;
    position: absolute;
    left: 1em;
}
.upper span{
    margin-right: 5px;
}
.apply{
    width: 100%;
    padding: 1em 0.5em;
    background-color: #0A674F;
    border-radius: 5px;
    border: 1px solid #0A674F;
    color: white;
}

/* Footer for all the pages */
footer{
    padding: 2em 1.5em;
    background-color: #2A1979;
    margin-top: 3.5em;
    color: white;
}
.social, .copyright, .about{
    text-align: center;
}
.social a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #ffffff;
    text-decoration: none;
}
.login a{
    text-decoration: none;
}

/*  Retail css */
.subglobal {
    margin: 2em;
}

.tinyhr {
    width: 50px;
    position: absolute;
    left: 2em;
}

.filter {
    position: absolute;
    right: 2em;
}

#inputbox {
    width: 60%;
    height: 30px;
    margin: 10px 0 10px 25%;
    padding: 0 10px;
    border: 1px solid #0A674F;

}

input:focus {
    outline: none;
}

#searchicon {
    position: absolute;
    right: 20%;
    top: 24%;
    cursor: pointer;
    color: #0A674F;
}

.titletext {
    text-align: center;
    color: #1F135B;
}

.details {
    position: absolute;
    right: 2em;
}

.nextprev {
    text-align: center;
}

/* Confirm Application css */
.popup{
    display: flex;
    justify-content: center;
}
.confirm{
   border: 1px solid black;
   margin: 1em;
   padding: 1em;
}
.confirmbtn{
   width: 100%;
   background-color: #0A674F;
   color: white;
   border: 1px solid #0A674F;
   padding: 0.5em 0;
}
.confirmbtn:focus{
   outline: none;
}
.resume{
   text-align: center;
}
.resumeSection{
   margin: 2em 1em;
}
.fa-comment{
    color: #341F97;
    position: absolute;
    right: 10px;
}

 /* styling for side bar*/
 .wrapper{
    display: block;
    background-color: white;
}
.sidebar{
    min-width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 1em 1em 0;
    overflow-x: hidden;
    transition: 2s;
    background-color: #fff;
    display: none;
}
.sidebarList{
    margin-top: 6em;
}
.sidebarList li{
   margin-top: 1em;
   list-style: none;
   color: #5F27CD;
}
.sidebarList li a{
    text-decoration: none;
    color: #5F27CD;
}
.sidebarList li a:focus{
    color: gray;
}
.sidebarClose{
    position: absolute;
    right: 5px;
    font-size: 25px;
    color: #5F27CD;
    cursor: pointer;
}

/* Signup page*/
.globe{
    margin: 1em 1.5em;
    display: flex;
    justify-content: center;
}
.em{
   text-align: center;
   font-size: large;
   color: #1F135B;
   font-weight: bold;
}
#sign{
    color: white;
}
.already{
    text-align: center;
}
.eyeicon{
    position: relative;
    left: 80%;
    bottom: 38px;
    cursor: pointer;
}
/* My Application css */
.apps {
    text-align: center;
    color: #1F135B;
}

.appshr {
    width: 70px;
}
.appmargin{
    margin: 1em 2em;
}
.appfooter{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.apptitle{
    color: #1F135B;
}
.selected{
    padding: 3px;
    background-color: #9F7DE1;
    color: #341F97;
}
.appnum{
    margin-right: 4px;
}
.appdate{
    margin-left: 20px;
}
@media only screen and (max-width: 500px) {
    .studentworker{
        margin-left: 4%;
        color: #1F135B;
    }
}
    @media only screen and (max-width: 600px) {
    .sidebar{
        min-width: 50%;
    }
  }
 